//? ANIMATIONS
[data-fade] {
  animation: fade 2000ms ease-in-out 3000ms forwards;
  opacity: 0;
}

//? KEYFRAMES
@keyframes fade {
  0% {
    transform: translateY(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close {
  0% {
    clip-path: polygon(0% 0%, 100% 0, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 0 100%);
  }
  20% {
    clip-path: polygon(0% 0%, 0 0, 0 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 0 100%);
  }
  40% {
    clip-path: polygon(0% 0%, 0 0, 0 20%, 0 40%, 100% 60%, 100% 80%, 100% 100%, 0 100%);
  }
  60% {
    clip-path: polygon(0% 0%, 0 0, 0 20%, 0 40%, 0 60%, 100% 80%, 100% 100%, 0 100%);
  }
  80% {
    clip-path: polygon(0% 0%, 0 0, 0 20%, 0 40%, 0 60%, 0 80%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 0 0, 0 20%, 0 40%, 0 60%, 0 80%, 0 100%, 0 100%);
  }
}

//? DELAYS
[data-delay='4000'] {
  animation-delay: 4000ms;
}
