// MIXINS
@import '../../global/mixins';

// STYLES
.header {
  @include flex(row, space-between, center);
  gap: clamp(1rem, 5vw, 10rem);
  padding: clamp(1rem, 1.5vw, 3rem) clamp(1rem, 5vw, 10rem);

  &-title {
    font-size: clamp(1.25rem, 2.25vw, 4.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  &-btn {
    margin-left: auto;
  }
}
.nav {
  &-ul {
    @include flex(row, center, center);
    gap: clamp(1rem, 3vw, 6rem);
  }
  &-li {
    @include flex(row, center, center);
    gap: clamp(0.5rem, 0.5vw, 1rem);
  }
  &-a {
    font-size: clamp(0.85rem, 1vw, 2rem);
    font-weight: 400;
    text-transform: uppercase;
  }
  &-arrow {
    width: clamp(0.85rem, 1vw, 2rem);
  }
}

@include mediamax(700px) {
  .header {
    &-btn {
      display: none;
    }
  }
  .nav {
    display: none;
  }
}
