.construction {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &-svg{
    width: clamp(7.5rem, 15vw, 30rem);
    height: clamp(7.5rem, 15vw, 30rem);
    fill: var(--text-one);
  }
  &-heading{
    font-size: clamp(1.25rem, 2vw, 4rem);
    font-weight: 400;
    text-align: center;
  }
}
